.preview {
  padding-left: 10px;
  cursor: pointer;

  .preview__animation {
    margin: 38px 0 0 0;
    border: 2px solid $black;
    width: 128px;
    height: 128px;
    background: $white;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
