.preview {
  padding-left: 10px;

  .preview__animation {
    margin: 38px 0 0 0;
    border: 2px solid $black;
    width: 128px;
    height: 128px;
    background: $white;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .fps-display {
    padding: 10px 0;
    color: $white;
  }

  .export-gif {
    width: 128px;
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }

  .gif-download {
    color: $white;
  }
}
