.header {
  display: flex;
  justify-content: space-between;
  color: $white;
  background: $black;

  .header__title {
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 10px;
  }

  .sign-in {
    font-size: 1.3rem;
    margin: 5px 10px;
  }
}
