.tools {
  .draw {
    display: grid;
    grid-template-columns: 35px 35px;
    grid-template-rows: 35px 35px;
    padding: 5px 0;

    .draw__item {
      background-color: $grey;
      background-image: url('../assets/images/icons-sprite.png');
      background-repeat: no-repeat;

      &:hover {
        cursor: pointer;
        border: 2px solid $yellow;
      }
    }

    .pencil {
      background-position: -190px -100px;
    }

    .bucket {
      background-position: -235px -100px;
    }

    .eraser {
      background-position: -55px -235px;
    }
    .stroke {
      background-position: -55px -145px;
    }
  }
}
