.tools {
  .size {
    display: flex;

    .size__item {
      width: 25px;
      height: 25px;
      margin: 5px;
      background-color: $black;
      background-repeat: no-repeat;
      border: 2px solid $grey;
      background-image: url('../assets/images/size-square.png');
      background-position: center;

      &:hover {
        border: 2px solid $yellow;
        cursor: pointer;
      }
    }

    .size__one {
      background-size: 7px 7px;
    }
    .size__two {
      background-size: 10px 10px;
    }
    .size__three {
      background-size: 13px 13px;
    }
    .size__four {
      background-size: 17px 17px;
    }
  }

  .draw {
    display: grid;
    grid-template-columns: 35px 35px;
    grid-template-rows: 35px 35px;
    padding: 5px 0;

    .draw__item {
      background-color: $grey;
      background-image: url('../assets/images/icons-sprite.png');
      background-repeat: no-repeat;

      &:hover {
        cursor: pointer;
        border: 2px solid $yellow;
      }
    }

    .pencil {
      background-position: -190px -100px;
    }

    .bucket {
      background-position: -235px -100px;
    }

    .eraser {
      background-position: -55px -235px;
    }
    .stroke {
      background-position: -55px -145px;
    }
  }
}
