@import './variables';
@import './header';
@import '../components/tools/colorSelection/colors';
@import '../components/canvasField/canvas/canvas';
@import '../components/canvasField/sizeSelection/sizeSelection';
@import '../components/tools/brushSizeSelection/brushSize';
@import '../components/tools/toolSelection/toolSelection';
@import '../components/frames/frames.scss';
@import '../components/preview/preview.scss';

* {
  box-sizing: border-box;
}

body {
  background: rgb(10, 71, 95);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: grid;
  padding: 0 20px;
}

.g-signin2 {
  padding: 10px;
  font-size: 1.5rem;
  color: $white;
  background: $black;
}

@media only screen and (min-width: 1000px) {
  .main {
    display: flex;
  }
}
