@import './variables';
@import './header';
@import './tools';
@import '../components/canvasField/canvas/canvas';

* {
  box-sizing: border-box;
}

body {
  background: skyblue;
}

.main {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .main {
    display: flex;
  }
}
