{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 9
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "object-curly-newline": "off",
    "no-return-assign": "off",
    "operator-linebreak": "off"
  }
}
