{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 9
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "object-curly-newline": "off",
    "no-return-assign": "off",
    "operator-linebreak": "off",
    "no-param-reassign": "off",
    "no-constant-condition": "off",
    "comma-dangle": ["error", "only-multiline"],
    "linebreak-style": "off",
    "no-bitwise": "off",
    "no-use-before-define": "off",
    "import/no-cycle": "off",
    "no-lonely-if": "off"
  }
}
