.frames {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  .frame {
    margin: 38px 10px 0 0;
    background: url('../assets/images/canvas-bg.png');
    border: 2px solid $black;
  }

  .frame_active {
    border-color: $yellow;
  }
}
