.frames {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  .add-frame {
    width: 128px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }

  .frame-wrapper {
    position: relative;
    .frame {
      margin: 38px 10px 0 0;
      background: $white;
      border: 2px solid $black;
      cursor: pointer;
    }
    .delete-btn {
      position: absolute;
      top: 39px;
      z-index: 10;
      width: 20px;
      height: 20px;
      background: red;
      cursor: pointer;
    }
    .copy-btn {
      position: absolute;
      left: 0px;
      bottom: 0px;
      background: $yellow;
      cursor: pointer;
    }
    .frame_active {
      border-color: $yellow;
    }
  }
}
