.frames {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  .frame-wrapper {
    position: relative;
    .frame {
      margin: 38px 10px 0 0;
      background: $white;
      // background: url('../assets/images/canvas-bg.png');
      border: 2px solid $black;
    }
    .delete-btn {
      position: absolute;
      top: 39px;
      z-index: 10;
      width: 20px;
      height: 20px;
      background: red;
      cursor: pointer;
    }
    .copy-btn {
      position: absolute;
      left: 0px;
      bottom: 0px;
      background: $yellow;
      cursor: pointer;
    }
    .frame_active {
      border-color: $yellow;
    }
  }
}
